h2{
    margin: 0;
    padding: 0;
}
.topBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.todoList{
    position: relative;
    left: 22px; ;
}
.btn{
    position: relative;
    left: 44px;
    border: 1px solid black;
    border-radius: 25px;
}
button{
    border: none;
    background-color: transparent;
    outline: none;
}
.doingBody,
.doneBody{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73%;
    box-sizing: border-box;
}
.doingList,
.doneList{
    width: 0%;
}
/* DOM操作 */
.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
}
.del{
    background-image: url(./del.png);
    background-size: 45px auto;
    padding: 22px; 
    background-repeat: no-repeat;
}

